@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --border-color: #e7e7de;
  --background-color: #0f3057;
  --text-color: #fff;
  --li-background: #00587a;
  --number-background: #008891;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.draggable-list {
  border: 1px solid var(--border-color);
  list-style-type: none;
  padding: 0;
}

.draggable-list li {
  background-color: var(--li-background);
  display: flex;
  flex: 1;
}

.draggable-list li.correct .lang-name {
  color: #3ae374;
}

.draggable-list li.wrong .lang-name {
  color: #ff3838;
}

.draggable-list li:not(:last-of-type) {
  border: 1px solid var(--border-color);
}

.draggable-list .number {
  background-color: var(--number-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 60px;
  width: 60px;
}

.draggable-list li.over .draggable {
  background-color: #052a38;
}

.draggable-list .lang-name {
  margin: 0 20px 0 0;
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: var(--li-background);
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}
