@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --violeta: #6040f8;
  --magenta: #e92ff4;
  --verde: #2bfaea;
  --amarillo: #c8f22f;
  --mostaza: #f4b11b;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins';
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #545e6f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f1f2f5;
}

.header {
  background: var(--verde);
  background: linear-gradient(
    275deg,
    rgba(43, 250, 234, 1) 0%,
    rgba(96, 64, 248, 1) 100%
  );
  padding: 10px 10px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-ultimate {
  height: 80px;
  width: 80px;
  background: url('../img/white_nucba.png') no-repeat center center;
  background-size: contain;
}

.logo-name {
  margin: 0 0 0 14px;
  line-height: 24px;
  font-size: 2.2rem;
  color: #fff;
}
.header-logo img {
  height: 100%;
}

#app {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background: var(--magenta);
  color: white;
  font-size: 18px;
  border: white;
  border-radius: 5px;
  min-width: 100px;
  padding: 15px;
  font-weight: 600;
}

.btn.btn-violet {
  background: var(--violeta);
}

button:hover {
  opacity: 80%;
}

button:active {
  opacity: 100%;
}

.uno {
  margin-top: 20px;
  background: var(--mostaza);
  border-radius: 8px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dos {
  padding: 20px;
  background: var(--verde);
  border-radius: 8px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 20px;
  background: #333;
  border-radius: 8px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding: 20px;
}
form .btn {
  min-width: 20px;
  padding: 10px;
}

form input[type='email'] {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.list-container {
  margin-top: 20px;
  background: var(--mostaza);
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.list-container ul {
  list-style: none;
  margin: 15px 0px;
  padding: 0;
}
