@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #00dbde;
  background-image: linear-gradient(45deg, #00dbde 0%, #fc00ff 100%);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 100px;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

.filter-container {
  margin-top: 20px;
  width: 80vw;
  max-width: 800px;
}

.filter {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.filter:focus {
  box-shadow: 0 0 8px #fc00ff;
  outline: none;
}
.post {
  position: relative;
  background-color: #8de4e6;
  background-image: linear-gradient(225deg, #8de4e6 0%, #eb9cec 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 40px 0;
  border-radius: 10px;
  padding: 20px;
  width: 80vw;
  max-width: 800px;
  display: flex;
}

.post .post-title {
  margin: 0;
}

.post .post-body {
  margin: 15px 0 0;
  line-height: 1.3;
}
.post .post-info {
  margin-left: 20px;
}

.post .number {
  position: absolute;
  top: -15px;
  left: -15px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
}
.loader.show {
  opacity: 1;
}

.circle {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-last-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-last-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
